#section-main {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  #div-search {
    background-color: var(--white-lightBlack);
    h1 {
      display: inline-block;
      font-family: $Montserrat;
      font-weight: 700;
      font-size: 25px;
      color: var(--purple-white);
      text-align: center;
      line-height: 33px;
      width: 60%;
      span {
        color: #50e3c2;
      }
    }
    img{
        width: 60%;
    }
  }
}
