#section-main {
  #div-search {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 0 2rem 0;
    background-color: var(--white-lightBlack);
    h1 {
      padding: 1rem;
      display: inline-block;
      font-family: $Montserrat;
      font-weight: 700;
      font-size: 25px;
      color: var(--purple-white);
      text-align: center;
      line-height: 33px;
      width: 70%;
      span {
        color: #50e3c2;
      }
    }
    img {
      width: 70%;
    }
    .input-container {
      position: relative;
      padding-bottom: 1rem;
      width: 100%;
    }
    input {
      outline: none;
      width: 90%;
      height: 50px;
      background-color: var(--white-lightBlack);
      border: 1px solid var(--purple-white);
      border-radius: 27px;
    }
    input::placeholder {
      padding-left: 2rem;
    }
    #icon-search {
      position: absolute;
      width: 20px;
      top: 23%;
      right: 10%;
    }
    #section-main-footer {
      text-align: center;
      h2 {
        font-family: $Montserrat;
        font-weight: 700;
        color: var(--purple-white);
        padding-bottom: 1rem;
      }
      p {
        font-family: $Roboto;
        font-weight: 400;
        color: var(--purple-white);
      }
    }
  }
}
